@charset "UTF-8";
/** Подключение цветов **/
@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  src: url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothamPro.woff") format("woff");
  src: url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** Подключение стилей интерфейса **/
/* *
  box-sizing: border-box */
html {
  scroll-behavior: smooth;
}

.href {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  background-color: #292929;
  font-family: 'Gotham Pro', sans-serif;
  padding: 0;
}

.red-text {
  color: #ff3469;
}

.bold-text {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
}

.line {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #4c4c4c;
  width: 100%;
  height: 1px;
}

.section {
  max-width: 940px;
  width: 100vw;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dots li button:before {
  color: #fff;
}

.href-white {
  color: #fff;
  text-decoration: none;
}

.header-block {
  margin: auto;
}

.header-block__left {
  text-decoration: none;
}

.header-block__left-logo {
  margin-top: 54px;
}

.header-block__left-subtitle {
  margin: 0;
  margin-left: 42px;
  display: inline-block;
  color: #fff;
  width: 120px;
  font-weight: 200;
  font-size: 12px;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
}

.header-block__right {
  color: white;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.header-block__right-number {
  color: #fff;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  margin: 0;
  margin-top: 50px;
  font-size: 20px;
}

.header-block__right-number:hover {
  cursor: pointer;
}

.header-block__right-subtitle {
  margin: 0;
  margin-top: 7px;
  font-size: 12px;
}

.header-block__right-call {
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 16px;
  position: relative;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-block__right-call:after {
  position: absolute;
  content: '';
  width: 134px;
  background-color: #d3315a;
  height: 1px;
  bottom: -5px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-block__right-call:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ac2547;
}

.header-block__right-call:hover:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ac2547;
  height: 1px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.display {
  background-color: #292929;
}

.display-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-block__title {
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
  margin-top: 120px;
  width: 650px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  color: #fff;
}

.display-block__subtitle {
  text-transform: uppercase;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  margin-top: 34px;
  width: 550px;
}

.display-block__subtitle-flowers {
  text-transform: uppercase;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
  font-size: 19px;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  margin-top: 85px;
  width: 550px;
}

.display-block__button {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  background-color: #ff2e55;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 70px;
  outline: none;
  border: none;
  color: white;
  margin-top: 40px;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.display-block__button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ff2e55;
  cursor: pointer;
  color: #ff2e55;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flowers-slider {
  width: 80%;
  margin: auto;
}

.flowers-slider__item {
  max-width: 70px;
  height: 70px;
  margin: 0;
}

.flowers-slider__item-img {
  margin: 0;
  width: 70px;
  height: 70px;
}

.slick-block {
  grid-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-block__arrow-right {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slick-block__arrow-right:hover {
  cursor: pointer;
}

.slick-block__arrow-left:hover {
  cursor: pointer;
}

.slick__item {
  width: 0;
  margin: 30px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: tranparent;
}

.slick__item-img {
  padding: 20px;
}

.slick {
  height: 150px;
  width: 60vw;
}

.comment-block {
  color: #fff;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-block__title {
  text-transform: uppercase;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.comment-block__slider-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.comment-block__slider-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  grid-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-block__slider {
  max-width: 800px;
  width: 70%;
}

.slider-block__right-arrow {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item__cercle-fone {
  width: 220px;
  height: 220px;
  background-image: url(../img/Display/image-cercle.png);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__cercle-fone::before {
  background: rgba(13, 6, 6, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider-item__cercle-name {
  font-size: 20px;
  z-index: 1;
  margin: 0;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
}

.slider-item__cercle-subtitle {
  font-size: 18px;
  z-index: 1;
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.slider-item__content-review {
  width: 490px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.slider-item__show-img {
  color: #f24841;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-item__show-img:after {
  position: absolute;
  content: '';
  width: 300px;
  background-color: #f24841;
  height: 1px;
  bottom: -5px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-item__show-img:hover {
  color: #c0140d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.slider-item__show-img:hover:after {
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.comment-block__desription-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-block__item-img {
  height: 90px;
}

.description-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-block__item-content {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  width: 270px;
  text-align: center;
}

.shop-block {
  color: #fff;
  text-align: center;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-block__title {
  text-transform: uppercase;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 100px;
  font-size: 30px;
}

.shop-block__subtitle {
  font-size: 18px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.shop-block__all-flowers {
  color: #c8413b;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  position: relative;
}

.shop-block__all-flowers:after {
  position: absolute;
  content: '';
  width: 74px;
  background-color: #c8413b;
  height: 1px;
  bottom: -5px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop-block__all-flowers:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #a2332e;
}

.shop-block__all-flowers:hover:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #a2332e;
  height: 1px;
}

.shop-block__all-arrow {
  display: inline-block;
  margin-left: 12px;
  margin-top: -5px;
}

.shop-block__all {
  margin-top: 40px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  grid-gap: 28px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-item {
  padding: 30px;
  border: 3px solid white;
}

.products-item__image {
  margin: auto;
  width: 115px;
  height: 90px;
}

.products-item__name-product {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
}

.products-item__select-text {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 7px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.products-item__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}

.products-item__colors-white, .products-item__colors-beige, .products-item__colors-pink, .products-item__colors-red, .products-item__colors-blue {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
}

.products-item__colors-white:hover, .products-item__colors-beige:hover, .products-item__colors-pink:hover, .products-item__colors-red:hover, .products-item__colors-blue:hover {
  cursor: pointer;
}

.products-item__colors-white {
  background-color: #fff;
}

.products-item__colors-beige {
  background-color: #f7b496;
}

.products-item__colors-pink {
  background-color: #ed366e;
}

.products-item__colors-red {
  background-color: #ff0000;
}

.products-item__colors-blue {
  background-color: #12129d;
}

.products-item__count-text {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.products-item__set-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
}

.products-item__button {
  text-transform: uppercase;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #f24841;
  width: 140px;
  height: 40px;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products-item__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #f24841;
  color: #f24841;
}

.set-count__symbol-up, .set-count__symbol-down {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}

.set-count__symbol-up:hover, .set-count__symbol-down:hover {
  cursor: pointer;
  color: #c8413b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.set-count__count-text {
  background-color: transparent;
  color: #fff;
  width: 36px;
  height: 36px;
  border: 2px solid white;
  text-align: center;
}

#hidden-item, .hidden-block {
  display: none;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #1a1a1a;
}

.question-block__title-first {
  margin-top: 100px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}

.question-block__title-second {
  margin: 0;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 30px;
}

.question-block__subtitle {
  margin: 0;
  margin-top: 70px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.question-block__title-number {
  color: #fff;
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 85px;
  margin-top: 25px;
}

.info-block {
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: auto;
}

.info-block__left-block {
  text-align: right;
  color: #fff;
}

.right-block__titles {
  margin-top: 50px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 35px;
}

.right-block__titles-item1, .right-block__titles-item2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right-block__titles-item1:after, .right-block__titles-item2:after {
  position: absolute;
  content: '';
  background-color: #fff;
  height: 1px;
  bottom: -5px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right-block__titles-item1:hover, .right-block__titles-item2:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #e6e6e6;
}

.right-block__titles-item1:hover:after, .right-block__titles-item2:hover:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #e6e6e6;
  height: 1px;
}

.right-block__titles-item1:after {
  width: 90px;
}

.right-block__titles-item2:after {
  width: 68px;
}

.right-block__subtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 50px;
}

.right-block__subtitle {
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.left-block {
  color: #fff;
  text-align: right;
}

.left-block__title {
  font-size: 14px;
  margin: 0;
  margin-top: 50px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.left-block__number {
  font-size: 24px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
}

.left-block__number:hover {
  cursor: pointer;
}

.left-block__time {
  font-size: 14px;
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.footer-section {
  width: 940px;
  padding: 45px 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block {
  background-color: #fff;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo-block__title {
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 12px;
  color: #292929;
  width: 120px;
}

.design-info {
  font-size: 12px;
  color: #101010;
  text-align: right;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
}

.design-info:after {
  position: absolute;
  content: '';
  width: 80px;
  background-color: #101010;
  height: 1px;
  bottom: -5px;
  left: 90px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.design-info:after:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.design-info:after:hover:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  height: 1px;
}

.modal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
}

.modal-call__window {
  z-index: 1;
  backdrop-filter: blur(16px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  background-color: #111111;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal-call__window-title {
  color: #fff;
  font-size: 24px;
  margin: 30px 0;
}

.modal-call__window-button {
  backdrop-filter: blur(25px) saturate(100%);
  -webkit-backdrop-filter: blur(25px) saturate(100%);
  background-color: #111111;
  border-radius: 12px;
  color: #fff;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.125);
  right: -50px;
  top: 0;
  position: absolute;
  height: 35px;
  width: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal-call__window-button:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff2e55;
}

.modal-call__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-call__form-input {
  width: 80%;
  padding: 15px 0px 15px 15px;
  outline: none;
}

.modal-call__form-button {
  background-color: #ff2e55;
  margin-top: 30px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  color: white;
  width: 80%;
  height: 40px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal-call__form-button:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  border: 2px solid #ff2e55;
  color: #ff2e55;
}

.modal-description__window {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 520px;
  position: relative;
  height: 300px;
  background-color: #f8f6f0;
}

.modal-description__window-title {
  color: #f64f6b;
  font-size: 24px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  margin-top: 55px;
  margin-bottom: 30px;
  margin-left: 55px;
}

.modal-description__window-content {
  margin: 0;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
  margin-left: 55px;
  width: 400px;
}

.modal-description__window-topimg {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-description__window-bottomimg {
  position: absolute;
  bottom: -4px;
  left: 0;
}

.modal-description__window-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -50px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-family: sans-serif;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 24px;
}

.modal-del__window {
  z-index: 1;
  backdrop-filter: blur(16px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  background-color: #111111;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal-del__window-title {
  color: #fff;
  font-size: 24px;
  margin: 30px 0;
}

.modal-del__window-subtitle {
  color: #fff;
  font-size: 16px;
  font-family: 'Gotham Pro Regular', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.modal-del__window-number {
  color: #fff;
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
}

.modal-del__window-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -50px;
  background-color: black;
  color: #fff;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 500;
  font-family: sans-serif;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 24px;
}

.modal-del__window-button:hover {
  cursor: pointer;
}

.hide__modal-call, .hide__modal-description, .hide__modal-del {
  display: none;
}

@media (max-width: 976px) {
  .slider-item__content-review {
    width: 350px;
  }
  .slider-item__cercle-fone {
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }
}

@media (max-width: 800px) {
  .slider-item__cercle-fone {
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  .comment-block__desription-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 50px;
  }
  .description-block__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .shop-block__subtitle {
    width: 500px;
  }
  .products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .slider-item__show-img {
    padding-left: 20px;
  }
  .slider-item__content-review {
    padding-left: 20px;
    font-size: 17px;
  }
  .comment-block__slider-item {
    grid-gap: 0;
  }
  .comment-block__slider-block {
    grid-gap: 0;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-block {
    width: auto;
  }
  .footer-section {
    width: auto;
  }
  .logo-block, .info-block__right-block, .header-block__left {
    margin-left: 5vw;
  }
  .design-info, .info-block__left-block, .header-block__right {
    margin-right: 5vw;
  }
  .slider-block__left-arrow, .slider-block__right-arrow {
    display: none;
  }
  .modal-call__window, .modal-del__window {
    width: 70%;
  }
}

@media (max-width: 678px) {
  .slider-item__show-img {
    padding-left: 0;
  }
  .slider-item__content-review {
    padding-left: 0;
  }
  .comment-block__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: 0 80px;
  }
  .display-block__title {
    width: auto;
    font-size: 30px;
  }
  .products-item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-block__left-subtitle {
    display: none;
  }
  .header {
    width: 80vw;
  }
  .display-block__subtitle {
    width: 370px;
  }
  .display-block__subtitle-flowers {
    width: 300px;
  }
  .comment-block__slider-block {
    margin: 50px 0;
  }
  .slider-item__show-img {
    width: 302px;
    margin: auto;
  }
  .slider-item__content-review {
    text-align: center;
  }
  .display-block__subtitle-flowers {
    margin-top: 40px;
  }
  .comment-block__title {
    font-size: 25px;
    text-align: center;
  }
  .shop-block__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  .line {
    margin: 50px 0;
  }
  .shop-block__subtitle {
    margin: 0;
    margin-bottom: 30px;
  }
  .question-block__title-number {
    font-size: 25px;
  }
  .question-block__title-second {
    margin: 0;
  }
  .question-block__subtitle {
    margin-top: 30px;
  }
  .header-block__right-call:hover {
    color: #ff3469;
  }
  .header-block__right-call:hover::after {
    height: 1px;
    background-color: #ff3469;
  }
  .display-block__button:hover {
    border: none;
    background-color: #ff2e55;
    color: white;
  }
  .slider-item__show-img:hover {
    color: #f24841;
  }
  .slider-item__show-img:hover::after {
    height: 1px;
    background-color: #f24841;
  }
  .set-count__symbol:hover {
    color: #fff;
  }
  .products-item__button:hover {
    border: none;
    background-color: #f24841;
    color: #fff;
  }
  .shop-block__all-flowers:hover {
    color: #c8413b;
  }
  .shop-block__all-flowers:hover::after {
    height: 1px;
    background-color: #f24841;
  }
  .right-block__titles-item1:hover::after {
    height: 1px;
  }
  .modal-call__window, .modal-del__window {
    width: 60%;
  }
}

@media (max-width: 432px) {
  .slider-item__show-img {
    padding: 0 30px;
    text-align: center;
  }
  .slider-item__content-review {
    padding: 0 30px;
  }
  .shop-block__subtitle {
    width: 300px;
  }
  .products-item {
    padding: 30px 60px;
  }
  .question-block__title-second {
    text-align: center;
    font-size: 25px;
  }
  .info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right-block__titles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-block__right-block {
    margin-left: 0;
  }
  .info-block__left-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    text-align: center;
  }
  .slider-item__content-review {
    width: 330px;
  }
  .design-info:after {
    display: none;
  }
  .logo-block__title {
    display: none;
  }
  .header-block__left-logo {
    width: 145px;
  }
  .header {
    width: 95vw;
  }
}
/*# sourceMappingURL=style.css.map */