*
  box-sizing: border-box
  
img
  max-width: 100%
  
body
  margin: 0
  background-color: #292929
  font-family: 'Gotham Pro', sans-serif
  padding: 0
  
.red-text
  color: #ff3469

.bold-text
  +med

.line
  margin-top: 100px
  margin-bottom: 100px
  background-color: #4c4c4c
  width: 100%
  height: 1px

.section
  max-width: 940px
  width: 100vw