@media (max-width: 976px)
  .flowers-block
    display: none

@media (max-width: 800px)
  .slider-item__cercle-fone
    border-radius: 50%
    width: 180px
    height: 180px
  .comment-block__desription-block
    flex-wrap: wrap
    width: auto
    justify-content: center
    grid-gap: 50px
  .description-block__item
    flex-basis: 40%
  .shop-block__subtitle
    width: 500px
  .products
    flex-wrap: wrap
    width: auto
    justify-content: center
  .products-item
    flex-basis: 25%
  .comment-block__slider-block
    grid-gap: 0
    width: auto
    justify-content: center
  .info-block
    width: auto
  .footer-section
    width: auto
  .logo-block, .info-block__right-block, .header-block__left
    margin-left: 5vw
  .design-info, .info-block__left-block, .header-block__right
    margin-right: 5vw
  .slider-block__left-arrow, .slider-block__right-arrow
    display: none

  .modal-call__window, .modal-del__window
    width: 70%

@media (max-width: 678px)
  .comment-block__slider-item
    flex-direction: column
  .display-block__title
    width: auto
  .products-item
    flex-basis: 40%
  .products
    justify-content: center
  .header-block__left-subtitle
    display: none
  .header 
    width: 80vw
  .display-block__subtitle
    width: 370px
  .display-block__subtitle-flowers
    width: 300px
  .comment-block__slider-block
    margin: 50px 0
  .slider-item__show-img
    width: 302px
    margin: auto
  .slider-item__content-review
    text-align: center
  
  .header-block__right-call:hover
    color: #ff3469
    &::after
      height: 1px
      background-color:#ff3469
  .display-block__button:hover
    border: none
    background-color: #ff2e55
    color: white
  .slider-item__show-img:hover
    color: #f24841
    &::after
      height: 1px
      background-color:#f24841
  .set-count__symbol:hover
    color: #fff
  .products-item__button:hover
    border: none
    background-color: #f24841
    color: #fff
  .shop-block__all-flowers:hover
    color: #c8413b
    &::after
      height: 1px
      background-color: #f24841
  .right-block__titles-item1:hover
    &::after
      height: 1px

  .modal-call__window, .modal-del__window
    width: 60%


@media (max-width: 432px)
  .shop-block__subtitle
    width: 300px
  .products-item
    padding: 30px 60px
  .question-block__title-second
    text-align: center
    font-size: 25px
  .info-block
    flex-direction: column
  .slider-item__content-review
    width: 330px
  .design-info:after
    display: none
  .logo-block__title
    display: none
  .header-block__left-logo
    width: 145px
  .header 
    width: 95vw
  